*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Hero-Container
{
    margin: 3%;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.Hero-Container p
{
    margin: 0;
}

